body {
    background-color: #F6F3EA;
}
/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.fond_header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #048ABF;
    margin: 0;
}
body {
    margin: 0;
    margin-bottom: -15px;
}
.logo img {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 18px;
}
.titre_projet p {
    position: absolute;
    top: 13px;
    right: 138px;
    color: white;
}
.titre_projet2 p {
    position: absolute;
    top: 50px;
    right: 131px;
    color: white;
}

/*Haut image*/
.class img {
    position: absolute;
    top: 100px;
    opacity: 46%;
}
.present p {
    position: absolute;
    top: 330px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Deuxième partie*/
.machine img {
    position: absolute;
    top: 620px;
    opacity: 46%;
}
.contact-moi p {
    position: absolute;
    top: 630px;
    color: white;
    margin-left: 69px;
    text-align: center;
}
.edit img {
    position: absolute;
    top: 720px;
    margin-left: 156.12px;
    color: white;
}

/*Formulaire de contact*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.wrap {
    position: absolute;
    top: 1360px;
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
}
.contact-form {
    max-width: 375px;
    margin: 0;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
}
.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields, .msg {
    width: 90%;
}
.input-fields .input, .msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid black;
    padding: 10%;
    color: black;
    width: 100%;
}
.msg textarea {
    height: 225px;
}

::-webkit-input-placeholder{
    color: black;
}
::-moz-input-placeholder{
    color: black;
}
::-ms-input-placeholder{
    color: black;
}

.btn {
    background: #010326;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}



/*Footer*/
.fond_footer {
    position: absolute;
    top: 1735px;
    height: 143px;
    width: 375px;
    background-color: #010326;
    margin: 0;
}
.nom_prenom {
    position: absolute;
    top: 1745px;
    left: 19px;
    color: white;
    font-size: 12px;
}
.mailto p {
    position: absolute;
    top: 1745px;
    left: 225px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}
.projet {
    position: absolute;
    top: 1790px;
    text-align: center;
    color: white;
    font-size: 12px;
}
.mmi_montbe p {
    position: absolute;
    top: 1840px;
    left: 136px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}