/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.fond_header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 375px;
    background-color: #048ABF;
    margin: 0;
}
body {
    margin: 0;
    margin-bottom: -15px;
}
.logo img {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 18px;
}
.titre_projet p {
    position: absolute;
    top: 13px;
    right: 138px;
    color: white;
}
.titre_projet2 p {
    position: absolute;
    top: 50px;
    right: 131px;
    color: white;
}

/*Images du haut*/
.image1 img{
    position: absolute;
    top: 100px;
}

.intro {
    position: absolute;
    color: white;
    top: 436px;
    right: 18px;
    text-align: center;
}
.intro2 {
    position: absolute;
    color: white;
    top: 533px;
    right: 18px;
    text-align: center;
}

.image2 {
    position: absolute;
    top: 615px;
    right: 20px;
}

/*Article 1*/
.image3 {
    position: absolute;
    top: 811px;
    right: 0;
}
.rect_titre1 {
    position: absolute;
    top: 1164px;
    margin: 0;
}
.title1 {
    position: absolute;
    top: 1180px;
    left: 9.42px;
    right: 95px;
    text-align: center;
    line-height: 25px;
}
.fleche1 {
    position: absolute;
    top: 1370px;
    left: 290px;
}

/*Article 2*/
.image4 {
    position: absolute;
    top: 1465px;
    right: 0;
}
.rect_titre2 {
    position: absolute;
    top: 1827px;
    margin: 0;
}
.title2 {
    position: absolute;
    top: 1835px;
    left: 4px;
    right: 65px;
    text-align: center;
    line-height: 25px;
}
.fleche2 {
    position: absolute;
    top: 2033px;
    left: 290px;
}

/*Article3*/
.image5 {
    position: absolute;
    top: 2125px;
    right: 0;
    margin-bottom: -15px;
}
.rect_titre3 {
    position: absolute;
    top: 2491px;
    margin: 0;
}
.title3 {
    position: absolute;
    top: 2490px;
    left: 9px;
    right: 90px;
    text-align: center;
    line-height: 25px;
}
.fleche3 {
    position: absolute;
    top: 2697px;
    left: 290px;
}

/*Footer*/
.fond_footer {
    position: absolute;
    top: 2785px;
    height: 143px;
    width: 375px;
    background-color: #010326;
    margin: 0;
}
.nom_prenom {
    position: absolute;
    top: 2785px;
    left: 19px;
    color: white;
}
.mailto p {
    position: absolute;
    top: 2785px;
    left: 225px;
    color: white;
    text-decoration: underline;
}
.projet {
    position: absolute;
    top: 2830px;
    text-align: center;
    color: white;
}
.mmi_montbe p {
    position: absolute;
    top: 2880px;
    left: 136px;
    color: white;
    text-decoration: underline;
}