body {
    background-color: #F6F3EA;
}
/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.fond_header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #048ABF;
    margin: 0;
}
body {
    margin: 0;
    margin-bottom: -15px;
}
.logo img {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 18px;
}
.titre_projet p {
    position: absolute;
    top: 13px;
    right: 138px;
    color: white;
}
.titre_projet2 p {
    position: absolute;
    top: 50px;
    right: 131px;
    color: white;
}

/*Images du haut*/
.haut-image img{
    position: absolute;
    top: 60px;
}
.rect-marine {
    position: absolute;
    top: 401px;
    height: 145px;
    width: 100%;
    background-color: #010326;
    margin: 0;
}


/*Partie 1*/
.partie1 .haut-image2 img{
    position: absolute;
    top: 293px;
    left: 20px;
}
.partie1 .haut-image2 p{
    position: absolute;
    top: 516px;
    height: 14px;
    color: white;
    left: 166px;
}
.partie1 h1 {
    position: relative;
    top: 540px;
    margin-left: 20px;
    margin-right: 20px;
}
.partie1 p{
    position: absolute;
    top: 579px;
    margin-left: 20px;
    margin-right: 20px;
    right: 1px;
}
.partie1 h2 {
    position: absolute;
    top: 685px;
    margin-left: 20px;
    margin-right: 20px;
    right: 2px;
}
.partie1 .texte1 p {
    position: absolute;
    top: 765px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Partie 2*/
.partie2 .img3 img{
    position: absolute;
    top: 1040px;
    box-shadow: #777 0 15px 10px -8px;
}
.partie2 .img3 p{
    position: absolute;
    top: 1280px;
    height: 14px;
    color: white;
    right: 10px;
}
.partie2>p {
    position: absolute;
    top: 1310px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Paragraphe 3*/
.partie3 .img4 img{
    position: absolute;
    top: 1760px;
    box-shadow: #777 0 15px 10px -8px;
}
.partie3 .img4 p{
    position: absolute;
    top: 2000px;
    height: 14px;
    color: white;
    right: 10px;
}
.partie3 h2 {
    position: relative;
    top: 1990px;
    margin-left: 20px;
    margin-right: 20px;
}
.partie3>p {
    position: absolute;
    top: 2060px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Partie 4*/
.partie4 .img5 img{
    position: absolute;
    top: 2560px;
    box-shadow: #777 0 15px 10px -8px;
}
.partie4 .leg4 {
    position: absolute;
    top: 2800px;
    height: 14px;
    color: white;
    right: 5px;
}
.partie4 .leg4_2 {
    position: absolute;
    top: 2815px;
    height: 14px;
    color: white;
    right: 10px;
}
.partie4>p {
    position: absolute;
    top: 2830px;
    margin-left: 20px;
    margin-right: 20px;
}
.partie4 .img6 img{
    position: absolute;
    top: 3080px;
    box-shadow: #777 0 15px 10px -8px;
}
.partie4 .img6 p{
    position: absolute;
    top: 3320px;
    height: 14px;
    color: white;
    right: 10px;
}

/*Bande annonce*/
.bande_annonce h3 {
    position: absolute;
    top: 3360px;
    text-align: center;
    margin-left: 40px;
    text-decoration: underline;
}
.bande_annonce .video {
    position: absolute;
    top: 3420px;
    width: 100%;
}

/*Galerie*/
.galerie h3 {
    position: absolute;
    top: 3645px;
    text-align: center;
    margin-left: 150px;
    text-decoration: underline;
}
.galerie .back_galerie {
    position: absolute;
    top: 3700px;
    height: 500px;
    width: 100%;
    background-color: white;
    margin: 0;
}

/*Carousel*/
.carousel{
    top: 3700px;
    color: black;
    padding:20px 0 ;
    position: absolute;
    width: 100%;
}

.carousel-items{
    list-style: none;
    padding: 20px 0;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    margin-left: 17px;
}

/*Image 1*/
.imag_1 img{
    margin-right: 35px;
    margin-left: 45px;
    box-shadow: #000 0 15px 20px -8px;
}
.imag_1 p {
    text-align: center
}
/*Image 2*/
.imag_2 img{
    margin-right: 35px;
    box-shadow: #000 0 15px 20px -8px;
}
.imag_2 p {
    margin-left: 70px;
}

/*Image 3*/
.imag_3 img{
    margin-right: 35px;
    box-shadow: #000 0 15px 20px -8px;
}
.imag_3 p {
    margin-left: 110px;
}

/*Image 4*/
.imag_4 img{
    margin-right: 35px;
    box-shadow: #000 0 15px 20px -8px;
}
.imag_4 p{
    margin-left: 100px;
}

/*Image 5*/
.imag_5 img{
    margin-right: 35px;
    box-shadow: #000 0 15px 20px -8px;
}
.imag_5 p {
    margin-left: 35px;
}

/*Image 6*/
.imag_6 img{
    margin-right: 35px;
    box-shadow: #000 0 15px 20px -8px;
}
.imag_6 p{
    margin-left: 80px;
}

/*Image */
.imag_7 img{
    margin-right: 35px;
    box-shadow: #000 0 15px 20px -8px;
}
.imag_7 p{
    margin-left: 95px;
}

li.carousel-items{
    flex: 1 0 320px;
    margin-right:20px;
    scroll-snap-align:center;
}

::-webkit-scrollbar{
    height: 2px;
}

::-webkit-scrollbar-track{
    background-color:white;
}

::-webkit-scrollbar-thumb{
    background-color:white;
}

/*Bouton cliquable*/
.bouton {
    background-color: #010326;
    position: absolute;
    height: 72px;
    width: 296px;
    border-radius: 50px;
    top: 4250px;
    margin-left: 40px;
}
.bouton .tex-clic p {
    position: relative;
    color: white;
    text-decoration: underline;
    margin-left: 75px;
}
.bouton .tex-clic2 p {
    position: relative;
    color: white;
    margin-left: 115px;
    top: -20px;
}

/*Footer*/
.fond_footer {
    position: absolute;
    top: 4385px;
    height: 143px;
    width: 375px;
    background-color: #010326;
    margin: 0;
}
.nom_prenom {
    position: absolute;
    top: 4385px;
    left: 19px;
    color: white;
    font-size: 12px;
}
.mailto p {
    position: absolute;
    top: 4385px;
    left: 225px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}
.projet {
    position: absolute;
    top: 4430px;
    text-align: center;
    color: white;
    font-size: 12px;
}
.mmi_montbe p {
    position: absolute;
    top: 4480px;
    left: 136px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}