body {
    background-color: #F6F3EA;
}
/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.fond_header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #048ABF;
    margin: 0;
}
body {
    margin: 0;
    margin-bottom: -15px;
}
.logo img {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 18px;
}
.titre_projet p {
    position: absolute;
    top: 13px;
    right: 138px;
    color: white;
}
.titre_projet2 p {
    position: absolute;
    top: 50px;
    right: 131px;
    color: white;
}

/*Image haut*/
.terre-img img {
    position: absolute;
    top: 60px;
}

/*Paragraphe 1*/
.titr-art p {
    position: absolute;
    top: 739px;
    margin-left: 20px;
    margin-right: 20px;
}
.sous-titre2 p {
    position: absolute;
    top: 780px;
    margin-left: 20px;
    margin-right: 20px;
    right: 1px;
}
.inter-titre2_1 p {
    position: absolute;
    top: 880px;
    margin-left: 20px;
    margin-right: 20px;
}
.art-1 p {
    position: absolute;
    top: 910px;
    margin-left: 20px;
    margin-right: 20px;
}
.data-center img {
    position: absolute;
    top: 1220px;
}
.legd1 p{
    position: absolute;
    top: 1440px;
    height: 14px;
    color: white;
    right: 10px;
}

/*Paragraphe 2*/
.art-2 p {
    position: absolute;
    top: 1480px;
    margin-left: 20px;
    margin-right: 20px;
}
.ordi_vue img {
    top: 1700px;
    position: absolute;
    margin-left: 48px;
}
.legd2 p {
    position: absolute;
    top: 1820px;
    margin-left: 210px;
    color: white;
}
.legd3 p {
    position: absolute;
    top: 1830px;
    margin-left: 270px;
    color: white;
}

/*Paragraphe 3*/
.art-3 p {
    position: absolute;
    top: 1840px;
    margin-left: 20px;
    margin-right: 20px;
}
.inter img {
    top: 2100px;
    position: absolute;
    margin-left: -20px;
}
.legd4 p {
    position: absolute;
    top: 2325px;
    margin-left: 220px;
}

/*Paragraphe 4*/
.inter-titre2_2 p {
    position: absolute;
    top: 2350px;
    margin-left: 20px;
    margin-right: 20px;
}
.art-4 p {
    position: absolute;
    top: 2385px;
    margin-left: 20px;
    margin-right: 20px;
}
.jeunes img {
    top: 2870px;
    position: absolute;
    margin-left: -50px;
}
.legd5 p {
    position: absolute;
    top: 3020px;
    margin-left: 90px;
    color: white;
}

/*Paragraphe 5*/
.art-5 p {
    position: absolute;
    top: 3055px;
    margin-left: 20px;
    margin-right: 20px;
}
.phone img {
    top: 3200px;
    position: absolute;
    margin-left: -155px;
}
.legd6 p {
    position: absolute;
    top: 3515px;
    margin-left: 160px;
}

/*Interview*/
.t-inter p {
    position: absolute;
    top: 3550px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.vid-inter img {
    top: 3700px;
    position: absolute;
    margin-left: -140px;
}
.play img {
    top: 3900px;
    position: absolute;
    margin-left: 145px;
}

/*Bouton cliquable*/
.bouton img {
    position: absolute;
    top: 4250px;
    margin-left: 40px;
}
.tex-clic1_1 p {
    position: absolute;
    top: 4245px;
    color: white;
    text-decoration: underline;
    margin-left: 108px;
}
.tex-clic2_2 p {
    position: absolute;
    top: 4280px;
    color: white;
    margin-left: 148px;
}


























/*Footer*/
.fond_footer {
    position: absolute;
    top: 4385px;
    height: 143px;
    width: 375px;
    background-color: #010326;
    margin: 0;
}
.nom_prenom {
    position: absolute;
    top: 4385px;
    left: 19px;
    color: white;
    font-size: 12px;
}
.mailto p {
    position: absolute;
    top: 4385px;
    left: 225px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}
.projet {
    position: absolute;
    top: 4430px;
    text-align: center;
    color: white;
    font-size: 12px;
}
.mmi_montbe p {
    position: absolute;
    top: 4480px;
    left: 136px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}