body {
    background-color: #F6F3EA;
}
/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.fond_header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #048ABF;
    margin: 0;
}
body {
    margin: 0;
    margin-bottom: -15px;
}
.logo img {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 18px;
}
.titre_projet p {
    position: absolute;
    top: 13px;
    right: 138px;
    color: white;
}
.titre_projet2 p {
    position: absolute;
    top: 50px;
    right: 131px;
    color: white;
}

/*Image haut*/
.haut-imgs .rect-bleu {
    position: absolute;
    background-color: #048ABF;
    top: 120px;
    height: 174px;
    width: 363px;
    margin-left: 0;
}
.haut-imgs .img-ter img {
    top: 110px;
    position: absolute;
    margin-left: 6px;
}
.haut-imgs .iglo img {
    position: absolute;
    top: 170px;
    margin-left: 265px;
}

/*Partie 1*/
.par1 h1 {
    position: absolute;
    top: 345px;
    margin-left: 20px;
    margin-right: 20px;
}
.par1 .sous-titre3_1 {
    position: absolute;
    top: 390px;
    margin-left: 20px;
    margin-right: 20px;
    right: 1px;
}
.par1 h2 {
    position: absolute;
    top: 447px;
    margin-left: 20px;
    margin-right: 20px;
}
.par1 .parg1 {
    position: absolute;
    top: 490px;
    margin-left: 20px;
    margin-right: 20px;
}
.par1 .parg2 {
    position: absolute;
    top: 730px;
    margin-left: 20px;
    margin-right: 20px;
}
.par1 .parg3 {
    position: absolute;
    top: 790px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Partie 2*/
.par2 .mac img {
    position: absolute;
    top: 1100px;
}
.par2 .lgd1 {
    position: absolute;
    top: 1315px;
    margin-left: 90px;
    color: white;
}
.par2 .parg4 {
    position: absolute;
    top: 1340px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Partie 3*/
.par3 .quest img {
    position: absolute;
    top: 1490px;
}
.par3 .lgd2 {
    position: absolute;
    top: 1815px;
    margin-left: 90px;
}
.par3 h2 {
    position: absolute;
    top: 1840px;
    margin-left: 20px;
    margin-right: 20px;
}
.par3 .petit-titr {
    position: absolute;
    top: 1890px;
    margin-left: 20px;
    margin-right: 20px;
}
.par3 .list ul li {
    position: relative;
    top: 1940px;
    margin-right: 20px;
}

/*Partie 4*/
.par4 .anciens-tels img {
    position: absolute;
    top: 2270px;
}
.par4 p {
    position: absolute;
    top: 2525px;
    margin-left: 130px;
    color: white;
}
.par4 .list2 ul li {
    position: relative;
    top: 2270px;
    margin-right: 20px;
}
.par4>p {
    color: black;
    position: relative;
    top: 2260px;
    margin-left: 38px;
    margin-right: 20px;
}

/*Partiee 5*/
.par5 .firefox img {
    position: absolute;
    top: 2980px;
}
.par5 .lgd4 {
    position: absolute;
    top: 3165px;
    margin-left: 230px;
    color: white;
}
.par5 .list3 ul li {
    position: relative;
    top: 2500px;
    margin-right: 20px;
}
.par5>p {
    position: relative;
    top: 2490px;
    margin-left: 38px;
    margin-right: 20px;
}
.par5 .ecosia img {
    position: absolute;
    top: 3420px;
}
.par5 .lgd5 {
    position: absolute;
    top: 3720px;
    margin-left: 190px;;
}

/*Bouton cliquable*/
.bn {
    background-color: #010326;
    position: absolute;
    height: 72px;
    width: 296px;
    border-radius: 50px;
    top: 3800px;
    margin-left: 40px;
}
.bn .tex-clic-s1 p {
    position: relative;
    color: white;
    text-decoration: underline;
    margin-left: 80px;
}
.bn .tex-clic-s2 p {
    position: relative;
    color: white;
    margin-left: 115px;
    top: -20px;
}

/*Footer*/
.fond_footer {
    position: absolute;
    top: 3935px;
    height: 143px;
    width: 375px;
    background-color: #010326;
    margin: 0;
}
.nom_prenom {
    position: absolute;
    top: 3935px;
    left: 19px;
    color: white;
    font-size: 12px;
}
.mailto p {
    position: absolute;
    top: 3935px;
    left: 225px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}
.projet {
    position: absolute;
    top: 3980px;
    text-align: center;
    color: white;
    font-size: 12px;
}
.mmi_montbe p {
    position: absolute;
    top: 4030px;
    left: 136px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}