body {
    background-color: #F6F3EA;
}
/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.fond_header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #048ABF;
    margin: 0;
}
body {
    margin: 0;
    margin-bottom: -15px;
}
.logo img {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 18px;
}
.titre_projet p {
    position: absolute;
    top: 13px;
    right: 138px;
    color: white;
}
.titre_projet2 p {
    position: absolute;
    top: 50px;
    right: 131px;
    color: white;
}

/*Image haut*/
.rect-bleu {
    position: absolute;
    background-color: #048ABF;
    top: 120px;
    height: 174px;
    width: 363px;
    margin-left: 0;
}
.img-ter img {
    top: 110px;
    position: absolute;
    margin-left: 6px;
}
.iglo img {
    position: absolute;
    top: 170px;
    margin-left: 265px;
}

/*Paragraphe 1*/
.tit-art p {
    position: absolute;
    top: 350px;
    margin-left: 20px;
    margin-right: 20px;
}
.sous-titre3_1 p {
    position: absolute;
    top: 390px;
    margin-left: 20px;
    margin-right: 20px;
    right: 1px;
}
.inter-titre2_3 p {
    position: absolute;
    top: 460px;
    margin-left: 20px;
    margin-right: 20px;
}
.parg1 p {
    position: absolute;
    top: 490px;
    margin-left: 20px;
    margin-right: 20px;
}
.parg2 p {
    position: absolute;
    top: 730px;
    margin-left: 20px;
    margin-right: 20px;
}
.parg3 p {
    position: absolute;
    top: 790px;
    margin-left: 20px;
    margin-right: 20px;
}
.mac img {
    position: absolute;
    top: 1100px;
}
.lgd1 p {
    position: absolute;
    top: 1307px;
    margin-left: 90px;
    color: white;
}

/*Paragraphe 2*/
.parg4 p {
    position: absolute;
    top: 1330px;
    margin-left: 20px;
    margin-right: 20px;
}
.quest img {
    position: absolute;
    top: 1490px;
}
.lgd2 p {
    position: absolute;
    top: 1815px;
    margin-left: 90px;
}

/*Paragraphe 3*/
.inter-titre3_3 p {
    position: absolute;
    top: 1850px;
    margin-left: 20px;
    margin-right: 20px;
}
.petit-titr p {
    position: absolute;
    top: 1880px;
    margin-left: 20px;
    margin-right: 20px;
}
.list ul li {
    position: relative;
    top: 1950px;
    margin-right: 20px;
}
.anciens-tels img {
    position: absolute;
    top: 2270px;
}
.lgd3 p {
    position: absolute;
    top: 2525px;
    margin-left: 130px;
    color: white;
}

/*Paragraphe 4*/
.list2 ul li {
    position: relative;
    top: 2270px;
    margin-right: 20px;
}
.parg5 p {
    position: relative;
    top: 2260px;
    margin-left: 38px;
    margin-right: 20px;
}
.firefox img {
    position: absolute;
    top: 2980px;
}
.lgd4 p {
    position: absolute;
    top: 3165px;
    margin-left: 230px;
    color: white;
}

/*Paragraphe 5*/
.list3 ul li {
    position: relative;
    top: 2500px;
    margin-right: 20px;
}
.parg6 p {
    position: relative;
    top: 2490px;
    margin-left: 38px;
    margin-right: 20px;
}
.ecosia img {
    position: absolute;
    top: 3420px;
}
.lgd5 p {
    position: absolute;
    top: 3715px;
    margin-left: 190px;;
}

/*Bouton cliquable*/
.bouton img {
    position: absolute;
    top: 3800px;
    margin-left: 40px;
}
.tex-clic1_1 p {
    position: absolute;
    top: 3795px;
    color: white;
    text-decoration: underline;
    margin-left: 108px;
}
.tex-clic2_2 p {
    position: absolute;
    top: 3830px;
    color: white;
    margin-left: 148px;
}

/*Footer*/
.fond_footer {
    position: absolute;
    top: 3935px;
    height: 143px;
    width: 375px;
    background-color: #010326;
    margin: 0;
}
.nom_prenom {
    position: absolute;
    top: 3935px;
    left: 19px;
    color: white;
    font-size: 12px;
}
.mailto p {
    position: absolute;
    top: 3935px;
    left: 225px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}
.projet {
    position: absolute;
    top: 3980px;
    text-align: center;
    color: white;
    font-size: 12px;
}
.mmi_montbe p {
    position: absolute;
    top: 4030px;
    left: 136px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}