@import url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: white;
    font-family: 'Habibi', serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 20px;
}

a {
    font-family: 'Habibi', serif;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.titre_projet p {
    font-size: 20px;
}
.titre_projet2 p {
    font-size: 12px;
}

/*Page Accueil*/
.intro {
    font-size: 18px;
}
.intro2 {
    font-size: 14px;
    font-weight: bold;
}

.title1 {
    font-size: 26px;
}
.title2 {
    font-size: 26px;
}
.title3 {
    font-size: 26px;
}


/*Page Code poursuite*/

/*Paragraphe 1*/
.partie1 .haut-image2 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.partie1 h1{
    font-weight: normal;
    font-size: 18px;
}
.partie1 p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
}
.partie1 h2 {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}
.partie1 .texte1 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

/*Partie 2*/
.partie2 .img3 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.partie2 .texte2 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

/*Partie 3*/
.partie3 .img4 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.partie3 h2 {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}
.partie3>p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

/*Partie 4*/
.partie4 .leg4 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.partie4 .leg4_2 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.partie4>p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.partie4 .img6 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}

/*Bande annonce*/
.bande_annonce h3 {
    font-weight: normal;
    font-size: 18px;
}

/*Galerie*/
.galerie h3 {
    font-weight: normal;
    font-size: 18px;
}
.galerie p{
    font-family: 'Roboto', serif;
    font-weight: normal;
}

/*Bouton cliquable*/
.bouton .tex-clic p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 18px;
}
.bouton .tex-clic2 p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 12px;
}


/*Page Pollution*/

/*Paragraphe 1*/
.part1 h1 {
    font-weight: normal;
    font-size: 18px;
}
.part1 .sous-titre2 p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
}
.part1 .inter-titre2_1 p {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}
.part1 .art-1 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

/*Paragraphe 2*/
.part2 .legd1 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.part2 .art-2 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.part2 .legd2 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.part2 .legd3 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.part2 .art-3 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

/*Partie 3*/

.part3 .legd4 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.part3 .inter-titre2_2 {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}
.part3 .art-4 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

/*Paragraphe 4*/
.part4 .legd5 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.part4 .art-5 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.part4 .legd6 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}

/*Interview*/
.part5 .t-inter {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

/*Bouton cliquable*/
.bbt .tex-clic1_1 p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 18px;
}
.bbt .tex-clic2_2 p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 12px;
}


/*Page Solution*/

/*Paragraphe 1*/
.par1 h1{
    font-size: 18px;
    font-weight: normal;
}
.par1 .sous-titre3_1 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
}
.par1 h2 {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}
.par1 .parg1 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.par1 .parg2 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.par1 .parg3 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

/*Partie 2*/
.par2 .lgd1 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.par2 .parg4 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

/*Partie 3*/
.par3 .lgd2 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.par3 h2 {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}
.par3 .petit-titr {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.par3 .list ul li {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

/*Partie 4*/
.par4 .anciens-tels p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.par4 .list2 ul li {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.par4>p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

/*Partie 5*/
.par5 .lgd4 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.par5 .list3 ul li {
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.parg5>p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.par5 .lgd5 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}

/*Bouton cliquable*/
.bn .tex-clic-s1 p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 18px;
}
.bn .tex-clic-s2 p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 12px;
}

/*Page Article Scientifique*/

/*Partie 1*/
.parag1 h1 {
    font-weight: normal;
    font-size: 18px;
}
.parag1 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.parag1 .lg1 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}

/*Partie 2*/
.parag2 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.parag2 .lg2 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}

/*Partie 3*/
.parag3 h2,h3 {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}
.parag3 p,p1{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}

.parag3 .lg3 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}

/*Partie 4*/
.parag4 h2 {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}
.parag4 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.parag4 .lg4 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}

/*Partie 5*/
.parag5 h2 {
    font-family: 'Roboto', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}
.parag5 p{
    font-family: 'Roboto', serif;
    font-weight: normal;
    line-height: 25px;
    font-size: 15px;
}
.parag5 .lg5 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
.parag5 .lg5-2 {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 9px;
}
/*Bouton cliquable*/
.boubou .tex-clic-as1 p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 18px;
}


/*Page Autres porojets*/

/*Paragraphe 1*/
.txt1 p {
    line-height: 25px;
    font-size: 15px;
}

/*Ligne 1 bande annonce*/
.ligne1 p {
    line-height: 25px;
    font-size: 18px;
}

/*Ligne 2 bande annonce*/
.ligne2 p {
    line-height: 25px;
    font-size: 18px;
}

/*Ligne 3 bande annonce*/
.ligne3 p {
    line-height: 25px;
    font-size: 18px;
}

/*Ligne 4 bande annonce*/
.ligne4 p {
    line-height: 25px;
    font-size: 18px;
}

/*Ligne 5 bande annonce*/
.ligne5 p {
    line-height: 25px;
    font-size: 18px;
}

/*Ligne 6 bande annonce*/
.ligne6 p {
    line-height: 25px;
    font-size: 18px;
}

/*Bouton cliquable*/
.btonton .tex-clic-ap1 p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 18px;
}



/*À propos*/

/*Haut*/
.present p {
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 15px;
}

/*Deuxième partie*/
.contact-moi p {
    font-size: 40px;
}

/*Formulaire de contact*/
* {
    font-family: 'Roboto', serif;
}







/*Footer*/
.nom_prenom {
    font-size: 12px;
}
.mailto p {
    font-size: 12px;
}
.projet {
    font-size: 12px;
}
.mmi_montbe p {
    font-size: 12px;
}